.container {
    .row {
        margin-top: 30px;
    }
}

label {
    color: #bdc3c7;
}

.card {
    .card-image {
        height: 240px;

        img {
            height: 170;
            width: 245;
        }
        h5 {
            padding-left: 25px;
        }
        .card-title {
            position: relative;
            left: -10px;
            top:  -90px;
            font-size: 18px;
        }
    }
    .card-content {
        height: 190px;
    }
}

.edit-form {
    .card {
        height: 47%;
    }
}

.new-form {
    .card {
        height: 580px;
    }
}


