// * {
//     outline: 1px solid red;
// }

.kegs {
    width: 100%;
    .individual-keg {
        margin-bottom: 20px;
        border: 2px solid gray;
    }
    
}

span {
    margin: 10px 50px 30px 2px;
}