.card {
    .card-image {
        h5 {
            padding-left: 25px;
        }
        .card-title {
            position: relative;
            left: -10px;
            top:  -89px;
        }
    }
    .card-content {
        height: 140px;
    }
}

.edit-form {
    .card {
        height: 45%;
    }
}


