<div class="row new-form">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <h4>New Animal</h4>
            <div class="row">
                <div class="col s12 m6">
                    <label>What type of species is this Animal?:</label>
                    <input #newSpecies>
                    <label>Enter Animal Name:</label>
                    <input #newName>
                    <label>Enter Animal Age:</label>
                    <input #newAge>
                    <label>Enter Animal Diet:</label>
                    <input #newDiet>
                    <label>Enter What this Animal Likes:</label>
                    <input #newLikes>                   
                </div>
                <div class="col s12 m6">
                    <label>Enter Animal Image if you like (url):</label>
                    <input #newImg>
                    <label>Enter Animal Location:</label>
                    <input #newLocation>
                    <label>Enter Animal Gender:</label>
                    <input #newGender>
                    <label>Enter Animal Caretakers:</label>
                    <input #newCaretakers>
                    <label>Enter What this Animal Dislikes:</label>
                    <input #newDislikes>    
                </div>
                <button class="waves-effect waves-light btn" (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newGender.value,newLikes.value, newDislikes.value, newImg.value); newSpecies.value=''; newName.value=''; newAge.value=''; newDiet.value=''; newLocation.value=''; newCaretakers.value=''; newGender.value=''; newLikes.value=''; newDislikes.value=''; newImg.value='';">Add</button>
            </div>
        </div>
    </div>
</div>

